[submodule "apps/projectGenerator"]
	path = apps/projectGenerator
	url = https://github.com/openframeworks/projectGenerator.git
[submodule "addons/ofxTactoSonixTools"]
	path = addons/ofxTactoSonixTools
	url = https://github.com/funkmeisterb/ofxTactoSonixTools
[submodule "addons/ofxParticleEmitter"]
	path = addons/ofxParticleEmitter
	url = https://github.com/sroske/ofxParticleEmitter.git
[submodule "addons/ofxTextSuite"]
	path = addons/ofxTextSuite
	url = https://github.com/Furkanzmc/ofxTextSuite.git
[submodule "apps/FKMB/tactosonix"]
	path = apps/FKMB/tactosonix
	url = https://github.com/funkmeisterb/tactosonix.git
[submodule "addons/ofxArtnet"]
	path = addons/ofxArtnet
	url = https://github.com/hiroyuki/ofxArtnet.git
[submodule "addons/ofxGStreamer"]
	path = addons/ofxGStreamer
	url = https://github.com/arturoc/ofxGStreamer.git
[submodule "apps/FKMB/projectGeneratorSimple"]
	path = apps/FKMB/projectGeneratorSimple
	url = https://github.com/funkmeisterb/projectGeneratorSimple.git
[submodule "apps/FKMB/mediaPlayer"]
	path = apps/FKMB/mediaPlayer
	url = https://github.com/funkmeisterb/mediaPlayer.git
